<h3>Cart</h3>

<div id="page_cart">
    <table class="table">
        <thead>
            <tr>
                <th>Option</th>
                <th>Id</th>
                <th>Name</th>
                <th>Photo</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in ViewBag.cart)
            {
                <tr>
                    <td><a class="button button-gray" asp-controller="cart" asp-action="remove" asp-route-id="@item.Id">Remove</a></td>
                    <td>@item.Id</td>
                    <td>@item.GameName</td>
                    <td><img src="~/images/@item.GameName/CoverArt.jpg" width="60" /> </td>
                    <td>@item.Price Ft</td>
                </tr>
            }
        </tbody>
    </table>
    <p>Summary: @ViewBag.total Ft</p><br>
    <a class="button button-cian" onclick="return show('page_pay_mode', 'page_cart')">go to paymode</a>
    <a class="button button-cian" asp-controller="Games" asp-action="Index">Continue Shopping</a>
</div>

<div id="page_pay_mode">
    <input type="radio" name="paymode" value="credit_card"> Credit card<br>
    <input type="radio" name="paymode" value="paypal"> Paypal<br>
    <a class="button button-cian" asp-controller="Cart" asp-action="Buy">Go to pay</a>
    <a class="button button-cian" onclick="return show('page_cart', 'page_pay_mode')">Back</a>
</div>




<script>
    function show(shown, hidden) {
        document.getElementById(shown).style.display='block';
        document.getElementById(hidden).style.display='none';
        return false;
    }

    window.onload = show('page_cart', 'page_pay_mode');
</script>
