@model JOKRStore.Web.ViewModels.GameViewModel

<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<h1>Game Store</h1>
    <table style="width:100%">
        <tr>
            <td>
                <img src="~/1_Far_Cry_pc.jpg" alt="@Model.GameName" width="200">
            </td>
            <td>
                <h1>@Model.GameName</h1>
                Release date: @Model.Release</br>
                Price: @Model.Price</br>
                Rate: @Model.Rate</br>
            </td>
        </tr>
        <tr>
            <td>
                @foreach (var comment in Model.Comments)
                {
                    <h1>@comment.User.UserName</h1>
                    <b>@comment.Contain</b>
                }
            </td>
        </tr>
        <tr>
            <td>
                <form id="commentForm">
                    <input type="text" id="CommentArea" name="contain" placeholder="Contain" />
                    <input type="hidden" id="GameId" name="gameId"  value=@Model.Id />
                    <button id="submit">Submit</button>
                    @Html.AntiForgeryToken()
                </form>
            </td>
        </tr>
    </table>

<script type="text/javascript">
    $("#submit").click(function () {
        var form = $('#commentForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        var contain = $("#CommentArea").val();
        var GameId = $("#GameId").val();
        $.ajax({
            type: "POST",
            url: '/Comments/PostComment',
            data: {
                __RequestVerificationToken: token, 
                'contain': contain,
                'gameId': GameId
            },
            success: function (data) {
                console.log(data);
            }
        });
    });
</script>
