@model JOKRStore.Web.ViewModels.GameViewModel

<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<div class="container-fluid">
    <h1>@Model.GameName</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <img src="@Model.CoverArt" alt="@Model.GameName" width="200">
            </div>

            <div class="col-sm-6">
                Release date: @Model.Release</br>
                Price: @Model.Price</br>
                Rate: @Model.Rate</br>
            </div>
        </div>
    </div><br>

          <div class="container-fluid title_frame">
              <div class="row titlet_header">
                  <div class="col-sm">Comments</div>
              </div>
              <div class="row">
                    @foreach (var comment in Model.Comments)
                    {
                        <div class="container-fluid comment_frame">
                            <div class="row comment_header">
                                <a asp-controller="Users" asp-action="UserDetails" asp-route-id="@comment.UserId"><div class="col-sm-9">@comment.User.UserName</div></a>
                                <div class="col-sm-3 coment_date">@comment.CommentDate</div>
                            </div>
                            <div class="row comment_body">
                                <div class="col-sm">@comment.Contain</div>
                            </div>
                        </div><br>

                    }
              </div>
          </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <form id="commentForm">
                    <textarea cols="100" id="CommentArea" name="contain" placeholder="Contain" /></textarea>
                    <input type="hidden" id="GameId" name="gameId" value=@Model.Id /><br>
                    <button id="submit">Submit</button>
                    @Html.AntiForgeryToken()
                </form>
            </div>
        </div>
    </div><br>
</div>
<script type="text/javascript">
    $("#submit").click(function () {
        var form = $('#commentForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        var contain = $("#CommentArea").val();
        var GameId = $("#GameId").val();
        $.ajax({
            type: "POST",
            url: '/Comments/PostComment',
            data: {
                __RequestVerificationToken: token,
                'contain': contain,
                'gameId': GameId
            },
            success: function (data) {
                console.log(data);
            }
        });
    });
</script>
