@model JOKRStore.Web.ViewModels.GameEditViewModel

<link rel="stylesheet" type="text/css" href="~/css/button.css">

<form asp-action="SaveGameSysReq" asp-controller="Games" method="post" class="form-horizontal" style="margin: 10px" enctype="multipart/form-data">
    <div class="form-group">
    
        <label class="control-label col-sm-2" for="CPUId">CPU: </label>
            
        <div id="CPUList">
            @for (var i = 0; i < Model.Game.MinSysReq.SysReqCPUs.Count(); i++)
            {
                <div class="form-group">
                
                    <div class="col-sm-5">
                        <select id="CPUFacturer" name="CPUFacturer" class="form-control" placeholder="CPU ">
                            <option value="0">AMD</option>
                            <option value="1">Intel</option>
                        </select>
                    </div>
                    
                    <div class="col-sm-5">
                        <select class="form-control" placeholder="CPU" asp-for="@Model.Game.MinSysReq.SysReqCPUs[i].CPUId">
                        @if (@Model.Game.MinSysReq == null)
                        {
                            <option selected value=null>--Select a CPU--</option>
                        }

                        @foreach (var CPU in Model.CPUs)
                        {
                            @if (@Model.Game.MinSysReq != null &&  CPU.Id == @Model.Game.MinSysReq.SysReqCPUs[i].CPUId)
                            {
                                <option selected value=@CPU.Id>@CPU.name</option>
                            }
                            else
                            {
                                <option value=@CPU.Id>@CPU.name</option>
                            }
                        }  
                        </select>
                    </div>
                </div>
            }
        </div>
        
        <button id="addCPU" class="button button-cian">Add CPU</button>


        <div class="form-group">
            <label class="control-label col-sm-2" for="RAM">RAM:</label>
            <div class="col-sm-8">
                @if (@Model.Game.MinSysReq != null)
                {
                    <input type="text" id="RAM" name="RAM" class="form-control" placeholder="RAM size" value=@Model.Game.MinSysReq.ram>
                }
                else
                {
                    <input type="text" id="RAM" name="RAM" class="form-control" placeholder="RAM size">
                }
                
            </div>    
            <div class="col-sm-2">
                <select id="RAM_unit" name="RAM_unit" class="form-control">
                    <option value="MB">MB</option>
                    <option selected value="GB">GB</option>
                </select>
            </div>
        </div>


        <label class="control-label col-sm-2" for="GPUId">Graphics card: </label>

        @for (var i = 0; i < Model.Game.MinSysReq.SysReqGPUs.Count(); i++)
        {  
            <div class="form-group">
                <div class="col-sm-5">
                    <select id="GPUFacturer" name="GPUFacturer" class="form-control" placeholder="GPU ">
                            <option value="0">Nvidia</option>
                            <option value="1">AMD</option>
                            <option value="2">Intel</option>
                            <option value="3">S3 Graphics</option>
                    </select>
                </div>

                <div class="col-sm-5">
                    <select class="form-control" placeholder="GPU" asp-for="@Model.Game.MinSysReq.SysReqGPUs[i].GPUId">
                    @if (@Model.Game.MinSysReq == null)
                    {
                        <option selected value=null>--Select a Graphics card--</option>
                    }

                    @foreach (var GPU in Model.GPUs)
                    {
                        @if (@Model.Game.MinSysReq != null && GPU.Id == @Model.Game.MinSysReq.SysReqGPUs[i].GPUId)
                        {
                            <option selected value=@GPU.Id>@GPU.name</option>
                        }
                        else
                        {
                            <option value=@GPU.Id>@GPU.name</option>
                        }
                    }  
                    </select>
                </div>
            </div>
        }
        
        <button id="addGPU" class="button button-cian">Add GPU</button>


        <label class="control-label col-sm-2" for="OSId">Operating system: </label>

        @for (var i = 0; i < Model.Game.MinSysReq.SysReqOSes.Count(); i++)
        {
            <div class="form-group">
                <div class="col-sm-5">
                    <select id="OSGroup" name="OSGroup" class="form-control" placeholder="OS ">
                            <option value="0">Windows</option>
                            <option value="1">ReactOS</option>
                            <option value="2">Mac OS X</option>
                            <option value="3">Ubuntu</option>
                            <option value="4">Debian</option>
                            <option value="5">SUSE Linux</option>
                            <option value="6">Linux Mint</option>
                    </select>
                </div>

                <div class="col-sm-5">
                    <select class="form-control" placeholder="OS" asp-for="@Model.Game.MinSysReq.SysReqOSes[i].OSId">
                    @if (@Model.Game.MinSysReq == null)
                    {
                        <option selected value=null>--Select an operating system--</option>
                    }

                    @foreach (var OS in Model.OSes)
                    {
                        @if (@Model.Game.MinSysReq != null && OS.Id ==  @Model.Game.MinSysReq.SysReqOSes[i].OSId)
                        {
                            <option selected value=@OS.Id>@OS.name</option>
                        }
                        else
                        {
                            <option value=@OS.Id>@OS.name</option>
                        }
                    }  
                    </select>
                </div>
            </div>
        }
        

        <input type="hidden" asp-for="@Model.Game.Id" value="@Model.Game.Id">

        <button id="submit" class="button button-cian">Submit</button>
    </div>
</form>

<script type="text/javascript">

    var cpuIndex = 0;
    $("#CPUList").on('click', function () {

        @*var comboboxlist = document.getElementById("CPUList");

        var combobox = document.createElement('div');
        combobox.class = "form-group";

        var select = document.createElement('select');

        @foreach (var CPU in Model.CPUs)
        {
            var option = document.createElement('option');
            option.value = @CPU.Id;
            option.text = @CPU.name;
            select.add(option, 0);
        }*@
        

        @*$.ajax({
            type: "GET",
            url: '/Games/SaveGameSysReq',
            success: function (partialView) {

                var newCategoryPartial = $(partialView);

                $(newCategoryPartial).find(".div").attr("data-index", cpuIndex);

                $(newCategoryPartial).find("select").each(function () {
                    $(this).attr("name", "@Model.Game.MinSysReq.SysReqCPUs[" + cpuIndex.ToString() + "].CPUId");
                });

                $(newCategoryPartial).find(".field-validation-valid").each(function () {
                    $(this).attr("data-valmsg-for", "@Model.Game.MinSysReq.SysReqCPUs[" + cpuIndex.ToString() + "]." + $(this).attr("data-valmsg-for"));
                });

                $('#dataTable').append($(newCategoryPartial));

                cpuIndex++;
            }
        });*@
    });

    function 

</script>