@model JOKRStore.Web.ViewModels.GameEditViewModel

<link rel="stylesheet" type="text/css" href="~/css/button.css">

<form asp-action="SaveGameBase" asp-controller="Games" method="post" class="form-horizontal" style="margin: 10px" enctype="multipart/form-data">
    <div class="form-group">
        <label class="control-label col-sm-2" for="GameName">Game name:</label>
        <div class="col-sm-8">
                
                @if (Model.Game != null)
                {
                    <input type="text" id="GameName" name="GameName" class="form-control" placeholder="Game name" value="@Model.Game.GameName">   
                }
                else
                {
                    <input type="text" id="GameName" name="GameName" class="form-control" placeholder="Game name">  
                }
        </div>    
    </div>

    <div class="form-group">
        <label class="control-label" for="Release">Genres:</label>


            @for (var i = 0;  i < Model.Genres.Count(); i++)
            {
                <input type="checkbox" asp-for="@Model.Genres[i].Selected"/>
                <label asp-for="@Model.Genres[i].Selected">@Model.Genres[i].name</label>
                <input type="hidden" asp-for="@Model.Genres[i].Id" />
                <input type="hidden" asp-for="@Model.Genres[i].name" />  
            }
        
        
    </div>

    @if (Model.Game != null){
        string [] year_split = @Model.Game.Release.Split('.');
        <div class="form-group">
            <label class="control-label col-sm-2" for="Release">Release:</label>
            <div class="col-sm-4">
                <input type="text" id="ReleaseYear" name="ReleaseYear" class="form-control" placeholder="Year" value=@year_split[0]>   
            </div>  
            <div class="col-sm-2">
                <input type="text" id="ReleaseMonth" name="ReleaseMonth" class="form-control" placeholder="Month" value=@year_split[1]>   
            </div>
            <div class="col-sm-2">
                <input type="text" id="ReleasDay" name="ReleaseDay" class="form-control" placeholder="Day" value=@year_split[2]>   
            </div>   
        </div>
    }
    else
    {
        <div class="form-group">
            <label class="control-label col-sm-2" for="Release">Release:</label>
            <div class="col-sm-4">
                <input type="text" id="ReleaseYear" name="ReleaseYear" class="form-control" placeholder="Year">   
            </div>  
            <div class="col-sm-2">
                <input type="text" id="ReleaseMonth" name="ReleaseMonth" class="form-control" placeholder="Month">   
            </div>
            <div class="col-sm-2">
                <input type="text" id="ReleasDay" name="ReleaseDay" class="form-control" placeholder="Day">   
            </div>   
        </div>
    }
    

    <div class="form-group">
        <label class="control-label col-sm-2" for="Price">Price:</label>
        <div class="col-sm-8">
            @if (Model.Game != null)
            {
                <input type="text" id="Price" name="Price" class="form-control" placeholder="Price" value="@Model.Game.Price"> 
            }
            else
            {
                <input type="text" id="Price" name="Price" class="form-control" placeholder="Price"> 
            }
                  
        </div>    
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="CoverArt">Cover art:</label>
        <input type="file" id="CoverArt" name="CoverArt" multiple />
    </div>

    <div class="col-sm-offset-2 col-sm-10">
        @if (@Model.Game != null)
        {
            <input type="hidden" id="GameId" name="GameId" value=@Model.Game.Id>
        }
        else
        {
            <input type="hidden" id="GameId" name="GameId" value=null>
        }


        <div class="form-group">
            <label class="control-label col-sm-2" for="Medias">Upload media:</label>
            <input type="file" id="Medias" name="Medias" multiple />
        </div>

        <p>Edit picture galery</p>
        @if (Model.Game != null)
        {
            @foreach (var m in Model.Game.Medias)
            {
                <table>
                    <tr><td><img src="~/images/@Model.Game.GameName/@m.contain" style="max-width:200px; max-height:100px"></td></tr>
                    <tr><td><a asp-controller="Games" asp-action="DeleteMedia" asp-route-id="@m.Id">Delete</a></td></tr>
                </table>
            }
        }
        
        <button type="submit" class="button button-cian">Submit</button>
    </div>
</form>