@model IEnumerable<JOKRStore.Web.ViewModels.GameViewModel>

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Game store</title>
</head>

<body>
    <h1>Game list</h1>
    <div class="container mosaic">  
        @foreach (var game in Model)
        {
            <a asp-controller="Games" asp-action="Details" asp-route-id="@game.Id">
                <div class="card">
                    <div class="poster">
                        <img src="@game.CoverArt">
                    </div>
                    <div class="details">
                        <h2>@game.GameName<br><span>@game.Developer</span></h2>
                        <div class="tags">
                            <span class="adventure">Adventure</span>
                            <span class="first-person">First person</span>
                        </div>
                        <div class="info">
                            <p>@game.Description</p>
                        </div>
                    </div>
                </div>
            </a>
        }

    </div>
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            @*<script src="Scripts/jquery-3.3.1.js"></script>
            <script src="Scripts/bootstrap.js"></script>*@

</body>
</html>