@model JOKRStore.Web.ViewModels.ForumTopicViewModel

@using Microsoft.AspNetCore.Identity

@inject Microsoft.AspNetCore.Identity.SignInManager<Model.User> SignInManager

<link rel="stylesheet" type="text/css" href="~/css/details.css">
<link rel="stylesheet" href="~/css/button.css">

<h4>@Model.ForumCategory.name</h4>
<div class="comment_frame">
    <div class="comment_header" style="font-size: 20px; padding: 20px">
        @Model.title
    </div>
    <div style="padding: 30px">
        @Model.content
    </div>
</div>

<div class="title_frame">
    <div class="titlet_header">
        Comments
    </div>
    @if (Model.Comments.Count() > 0)
    {
        @foreach (var comment in Model.Comments)
        {
            <div class="container-fluid comment_frame">
                <div class="row comment_header">
                    <a asp-controller="Users" asp-action="UserDetails" asp-route-id="@comment.UserId"><div class="col-sm-9">@comment.User.UserName</div></a>
                    <div class="col-sm-3 coment_date">@comment.CommentDate</div>
                </div>
                <div class="row comment_body">
                    <div class="col-sm">@comment.Contain</div>
                </div>
            </div><br>
        }
    }
    else
    {
        <p><b>There are no comments yet at this topic. See back later.</b></p>
    }
</div>

<form asp-action="PostComment" asp-controller="Comments" method="post" style="margin: 10px">
    <div class="form-group">
        @if (SignInManager.IsSignedIn(User))
        {
            <label for="comment">Add new comment:</label>
            <textarea class="form-control" rows="3" id="CommentArea" name="contain" placeholder="Write your comment here" class="form-control"></textarea>
            <input type="hidden" id="gameId" name="gameId" value="" />
            <input type="hidden" id="topicId" name="topicId" value=@Model.Id /><br>
            <input type="hidden" id="commentType" name="commentType" value="1" /><br>
            <button id="submit" class="button button-cian">Submit</button>
            @Html.AntiForgeryToken()
        }else
        {
            <label for="comment">You must log in to write comments.</label>
        }
        
    </div>
</form>
